<div class = "profile">
    <div class = "background">
    </div>
    <div class ="main_block">
        <div class = "title">
            あなたは編入試験をご存じでしょうか？
        </div>

        <div class="about_container">
            編入試験とは 4年制大学・高等専門学校・専門学校・短期大学の学生が</br>
            他大学に2年次または3年次生として入学するための試験のことです。</br> 
            私自身編入試験を経験し、合格を得ることができました。</br>
            ただ一般的ではないので、過去問集めや情報収集にかなり苦戦しました。事前の準備が大切なので、後続の人たちの編入試験の手助けができるようにこのサイトを作りました。
        </div>

        <div class ="howto_box">
            <div class="howto_title">
                編入試験を受けるまでのHow to
            </div>
            <div class="content_upper">
                <%= image_tag 'university.jpg', class: "content_img" %>
                <%= image_tag 'books.jpg', class: "content_img" %>
                <%= image_tag 'paper.jpg', class: "content_img" %>
            </div>
            <div class = "content_text_upper">
                <div class = "content_name">
                    志望校の選定
                </div>
                <div class = "content_name">
                    試験範囲の学習
                </div>
                <div class = "content_name">
                    諸々の手続き
                </div>
            </div>
            <div class="howto_title">
                試験当日の流れ
            </div>
            <div class = "content_lower">
                <%= image_tag 'exam.jpg', class: "content_img" %>
                <%= image_tag 'blackboard.jpg', class: "content_img" %>
            </div>
            <div class = "content_text_lower">
                <div class = "content_name">
                    学力試験
                </div>
                <div class = "content_name">
                    口頭試問
                </div>
            </div>
        </div>
    </div>
</div>
