<div class = "talks">
    <div class = "header">
    </div>
    <div class = "talks_new_page">
        <%= stylesheet_link_tag 'new', :media => "all" %>
        
        <div class="post-container">
            <p class="title">投稿フォーム</p>
            <%= form_for(@talk, :url => { controller:'talks', action:'create'})do |f| %>
            <%= f.label :投稿内容 %>
                <br>
                <%= f.text_field :body, size: 140 %>
                <br>
            <%= f.submit "送信"%>
            <br>
            <% end %>
        </div>
    </div>
</div>
